@using EHR.Domain.Entities
@using EHR.Infrastructure.Service.Cache
@using EHR.UI.Models

@foreach (AllergyModel allergy in ViewBag.Allergies)
{
    <li class="clearfix">
        <span class="firstColumn">@allergy.TheWhich</span>
        <a class="action" title="Excluir registro" onclick='deleteRow(this, "../Patient/DeleteAllergy/?id=@allergy.Id", null)'><span>X</span></a>
        <span class="lastColumn"></span>
        <span class="middleColumn">
            @{
                var allergyTypes = CacheManagementService.GetBy<IList<AllergyType>>("AllergyTypes");
                
                for (var i = 1; i <= @allergy.Types.Count; i++)
                {
                    @(allergyTypes.FirstOrDefault(type => type.Id == @allergy.Types[i - 1]).Description + (@allergy.Types.Count == i ? "" : ",  "))
                }
            }
        </span>
    </li>
}