@using System.Globalization
@using EHR.CoreShared
@using EHR.UI.Models
@using EHR.Infrastructure.Util
@model AccountModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Page
{
    <section id="super">
        <header class="slim">
            @{
                Html.RenderPartial("_HeadBar");
            }
        </header>
        <div class="page">
            <div id="contentCol" class="fixed_elem">
                <div id="content" class="clearfix">
                    <div class="fbTimelineSection mtm fbTimelineTopSection">
                        <div id="fbProfileCover" class="drop_elem">
                            <div class="cover" id="u_0_z">
                                <div class="coverImage">
                                    @{

                                        foreach (HospitalModel hospitalModel in ViewBag.Hospitals)
                                        {

                                            if (hospitalModel.Id == Model.CurrentHospital)
                                            {
                                        <img class="coverPhotoImg photo img" src="@hospitalModel.URLImage" alt="Cover Photo" style="top: 0px; width: 100%"/>
                                            }
                                        }
                                        
                                    }
                                </div>
                                <div class="_6-e">
                                    <h2 class="_6-f"><span class="_8_2">@Model.FirstName @Model.LastName</span></h2>
                                </div>
                            </div>
                            <div id="fbTimelineHeadline" class="clearfix">
                                <button class="grayButton" onclick="ShowFormChangePassword(this);" style="position: absolute; margin: 7px 0px 0px 690px;">Alterar minha senha</button>
                                <div id="ChangePassword">
                                    <form>
                                        <div class="mbm">
                                            <input type="password" name="newPassword" placeholder="Nova Senha" required />
                                        </div>
                                        <div class="mbm">
                                            <input type="password" name="confirm" placeholder="Confirme a nova senha" required />
                                        </div>
                                        <div class="mbm">
                                            <input type="submit" value="Alterar" class="uibutton special" onclick="ChangePassword(this);" />
                                            <input type="button" value="Cancelar" class="uibutton" onclick="HideFormChangePassword(this);" />
                                        </div>
                                    </form>
                                </div>
                                <div class="actions">

                                    <button id="ChangeHospitalButton" class="grayButton" onclick="ShowListOfHospital(this);">
                                        @EnumUtil.GetDescriptionFromEnumValue((DbEnum)Enum.Parse(typeof(DbEnum), Model.CurrentHospital.ToString(CultureInfo.InvariantCulture)))&nbsp;<span class="arrow"></span>
                                    </button>
                                    <div id="ChangeHospital">
                                        <ul>
                                            @foreach (HospitalModel hospital in ViewBag.Hospitals)
                                            {
                                                if (hospital.Id != Model.CurrentHospital)
                                                {<li><a onclick='ChangeCurrentHospital("@hospital.Id")'>@hospital.Name</a></li>  }

                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="name">
                                    <div class="photoContainer">
                                        <div class="drop_elem">
                                            <div class="profilePicThumb" id="profile_pic_education">
                                                <img class="profilePic img" src="../../Images/photo_none.png" alt="@Model.FirstName @Model.LastName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Action("LastSumariesList")
                    @Html.Action("AccountApprovedList")
                </div>
            </div>
        </div>
    </section>
}