@using EHR.UI.Models
@model AccountModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Page
{
    <section id="super">
        <header class="slim">
            @{
                Html.RenderPartial("_HeadBar");
            }
        </header>
        <div class="page">

            <div id="contentCol" class="fixed_elem">
                <div id="content" class="clearfix">
                    <div class="fbTimelineSection mtm fbTimelineTopSection">
                        <div id="fbProfileCover" class="drop_elem">
                            <div class="cover" id="u_0_z">
                                <div class="coverImage">
                                    <img class="coverPhotoImg photo img" src="@(((HospitalModel)ViewBag.Hospital).URLImage)" alt="Cover Photo" style="top: 0px; width: 100%" />
                                </div>
                                <div class="_6-e">
                                    <h2 class="_6-f"><span class="_8_2">@Model.FirstName @Model.LastName</span></h2>
                                </div>
                            </div>
                            <div id="fbTimelineHeadline" class="clearfix" style="padding-left: 130px;">
                                <div class="name">
                                    <div class="photoContainer">
                                        <div class="drop_elem">
                                            <div class="profilePicThumb" id="profile_pic_education">
                                                <img class="profilePic img" src="../../Images/photo_none.png" alt="@Model.FirstName @Model.LastName">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Action("LastSumariesList")
                    @Html.Action("AccountApprovedList")
                </div>
            </div>
        </div>
    </section>
}
@section scripts
{
}