<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section id="super">
        <header class="slim">
            @Html.Partial("_HeadBar")
        </header>
        <div class="page">
            <div id="contentCol" class="fixed_elem">
                <div id="content" class="clearfix">
                    <section id="header">
                        @Html.Partial("_Header")
                    </section>

                    <section id="timeLine" class="lfloat">
                        @Html.Partial("_TimeLine")
                    </section>
                    <div class="verticalLine"></div>
                    <section id="data" class="lfloat">
                        @Html.Partial("_Data")
                    </section>
                    <section id="center" class="lfloat">
                        @RenderBody()
                    </section>
                </div>
            </div>
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/AjaxFlagMenu-1.0.2.min.js"></script>
    <script src="~/Scripts/jquery.tokeninput.js"></script>
    <script src="~/Scripts/exporting.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    @RenderSection("scripts", false)
    <script type="text/javascript">
        // Suggest of search
        (function ($) {
            var baseModel =
                {
                    query: "",
                    results: []
                };

            var viewModel = ko.mapping.fromJS(baseModel);
            viewModel.doSearch = function () {
                var $this = this;
                setTimeout(function () {
                    var resultModel = null;
                    var q = $this.query();
                    if (q == "") {
                        resultModel = { results: [] };
                        ko.mapping.updateFromJS(viewModel, resultModel);
                    } else {
                        $.ajax({
                            url: "../Home/SearchPeaple",
                            data: { "query": q },
                            type: "GET",
                            dataType: "json",
                            success: function (r) {
                                resultModel = r;
                                ko.mapping.updateFromJS(viewModel, resultModel);
                            }
                        });
                    }
                }, 1);

                return true;
            };

            window.vm = viewModel;
            ko.applyBindings(viewModel, $("#search").get(0));
        })(jQuery);

        // Timeline animation
        $(function () {
            $('#collapser').jqcollapse({
                slide: true,
                speed: 1000,
                easing: 'easeOutCubic'
            });

            $('#collapser li').click(
                function () {
                    $(this).toggleClass("selected").siblings("li.active").toggleClass("clearfix");
                });
        });

        // Generate Data menu
        $(document).ready(function () {

            var Menu = $("#_Menu").AjaxFlagMenu({
                Caption: 'Menu',
                CaptionClass: 'CaptionClass',
                onOutClass: 'onOutClass',
                onOverClass: 'onOverClass',
                onClickClass: 'onClickClass',
                hscOutClass: 'hscOutClass',
                hscClickClass: 'hscClickClass',
                Loading_gif: '../../Images/Loading.gif'
                //ajaxContent: 'ajaxContent'
            });

            var Commentaire = Menu.add({
                Title: 'Gráficos',
                onOutIcon: '../../Images/graphics.png',
                onClickIcon: '../../Images/graphics_c.png',
                HtmlSatusContent: '',
                url: '/Charts/Index',
                data: ''
            });

            var Commentaire = Menu.add({
                Title: 'Dados Gerais',
                onOutIcon: '../../Images/dados_gerais.png',
                onClickIcon: '../../Images/dados_gerais_c.png',
                HtmlSatusContent: '',
                url: '/Home/Index',
                data: ''
            });
            Commentaire.sethscCorner();

            Menu.add({
                Title: 'Exames',
                onOutIcon: '../../Images/exames.png',
                onClickIcon: '../../Images/exames_c.png',
                HtmlSatusContent: '',
                url: '/Exams/',
                data: ''
            });

            Menu.add({
                Title: 'Procedimentos',
                onOutIcon: '../../Images/procedimentos.png',
                onClickIcon: '../../Images/procedimentos_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Abtimicrobianos',
                onOutIcon: '../../Images/abtimicrobianos.png',
                onClickIcon: '../../Images/abtimicrobianos_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Medicamentos',
                onOutIcon: '../../Images/other_medices.png',
                onClickIcon: '../../Images/other_medices_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Hemotransfusão',
                onOutIcon: '../../Images/hemotransfusao.png',
                onClickIcon: '../../Images/hemotransfusao_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Colonização MDR',
                onOutIcon: '../../Images/mdr.png',
                onClickIcon: '../../Images/mdr_c.png',

                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Receituário',
                onOutIcon: '../../Images/receituario.png',
                onClickIcon: '../../Images/receituario_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Dados da Alta',
                onOutIcon: '../../Images/dados_alta.png',
                onClickIcon: '../../Images/dados_alta_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            Menu.add({
                Title: 'Formulário',
                onOutIcon: '../../Images/formulario.png',
                onClickIcon: '../../Images/formulario_c.png',
                HtmlSatusContent: '',
                url: '#',
                data: ''
            });

            $("#_td").corner("4px");
            $("#o_td").corner("4px");

        });

        // Suggest of text
        $(document).ready(function () {
            $("#demo-input-facebook-theme").tokenInput("../Home/Admission", {
                theme: "facebook"
            });
        });

        //Water mark
        $(document).ready(function () {

            var watermark = 'Search for people, places and things';

            //init, set watermark text and class
            $('.DOMControl_placeholder').val(watermark).addClass('watermark');

            //if blur and no value inside, set watermark text and class again.
            $('.DOMControl_placeholder').blur(function () {
                if ($(this).val().length == 0) {
                    $(this).val(watermark).addClass('watermark');
                }
            });

            //if focus and text is watermrk, set it to empty and remove the watermark class
            $('.DOMControl_placeholder').focus(function () {
                if ($(this).val() == watermark) {
                    $(this).val('').removeClass('watermark');
                }
            });
        });


        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'line'
                    },
                    title: {
                        text: 'Daily Average Blood Pressure'
                    },
                    subtitle: {
                        text: 'Source: Barra D´or'
                    },
                    xAxis: {
                        categories: ['22/11', '23/11', '24/11', '25/11', '26/11', '27/11', '28/11', '29/11', '30/11', '01/12', '02/12', '03/12']
                    },
                    yAxis: {
                        title: {
                            text: 'Blood Pressure'
                        }
                    },
                    tooltip: {
                        enabled: false,
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '°C';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Systolic Blood Pressure',
                        data: [10, 11, 17, 18, 20, 21, 16, 14, 13, 12, 12, 11]
                    }, {
                        name: 'Diastolic Blood Pressure',
                        data: [06, 06, 08, 09, 07, 06, 09, 07, 08, 08, 08, 06]
                    }]
                });
            });

        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container2',
                        type: 'line'
                    },
                    title: {
                        text: 'Daily Average Temperature'
                    },
                    subtitle: {
                        text: 'Source: Barra D´or'
                    },
                    xAxis: {
                        categories: ['22/11', '23/11', '24/11', '25/11', '26/11', '27/11', '28/11', '29/11', '30/11', '01/12', '02/12', '03/12']
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        }
                    },
                    tooltip: {
                        enabled: false,
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '°C';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Temperature',
                        data: [36, 36, 36, 35.5, 37, 37, 38, 39, 40, 41, 37, 36]
                    }]
                });
            });

        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container3',
                        type: 'line'
                    },
                    title: {
                        text: 'Daily Average Pulse'
                    },
                    subtitle: {
                        text: 'Source: Barra D´or'
                    },
                    xAxis: {
                        categories: ['22/11', '23/11', '24/11', '25/11', '26/11', '27/11', '28/11', '29/11', '30/11', '01/12', '02/12', '03/12']
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        }
                    },
                    tooltip: {
                        enabled: false,
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '°C';
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Temperature',
                        data: [107, 107, 108, 109, 110, 110, 111, 112, 113, 106, 110, 120]
                    }]
                });
            });

        });

        //Galeria de Exames:

        hs.graphicsDir = '../Images/graphics/';
        hs.align = 'center';
        hs.transitions = ['expand', 'crossfade'];
        hs.fadeInOut = true;
        hs.dimmingOpacity = 0.8;
        hs.wrapperClassName = 'borderless floating-caption';
        hs.captionEval = 'this.thumb.alt';
        hs.marginLeft = 100; // make room for the thumbstrip
        hs.marginBottom = 80 // make room for the controls and the floating caption
        hs.numberPosition = 'caption';
        hs.lang.number = '%1/%2';

        // Add the slideshow providing the controlbar and the thumbstrip
        hs.addSlideshow({
            //slideshowGroup: 'group1',
            interval: 5000,
            repeat: false,
            useControls: true,
            overlayOptions: {
                className: 'text-controls',
                position: 'bottom center',
                relativeTo: 'viewport',
                offsetX: 50,
                offsetY: -5

            },
            thumbstrip: {
                position: 'middle left',
                mode: 'vertical',
                relativeTo: 'viewport'
            }
        });

        // Add the simple close button
        hs.registerOverlay({
            html: '<div class="closebutton" onclick="return hs.close(this)" title="Close"></div>',
            position: 'top right',
            fade: 2 // fading the semi-transparent overlay looks bad in IE
        });

        function exibeForm()
        {
           
            $("#divForm").show();
        }
        function fechaForm()
        {
            $("#divForm").hide();
        }

    </script>
</body>
</html>
