<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <section id="super">
            <header class="slim">
                @Html.Partial("_Head")
            </header>
            <div class="page">
                <div id="contentCol" class="fixed_elem">
                    <div id="content" class="clearfix">
                        <section id="header">
                            @Html.Partial("_Header")
                        </section>

                        <section id="timeLine" class="lfloat">
                            @Html.Partial("_TimeLine")
                        </section>
                        <div class="verticalLine"></div>
                        <section id="data" class="lfloat">
                            @Html.Partial("_Data")
                        </section>
                        <section id="center" class="lfloat">
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>
        </section>
        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/AjaxFlagMenu-1.0.2.min.js"></script>
        <script src="~/Scripts/jquery.tokeninput.js"></script>
        @RenderSection("scripts", false)
        <script type="text/javascript">
            // Suggest of search
            (function($) {
                var baseModel =
                    {
                        query: "",
                        results: []
                    };

                var viewModel = ko.mapping.fromJS(baseModel);
                viewModel.doSearch = function() {
                    var $this = this;
                    setTimeout(function() {
                        var resultModel = null;
                        var q = $this.query();
                        if (q == "") {
                            resultModel = { results: [] };
                            ko.mapping.updateFromJS(viewModel, resultModel);
                        } else {
                            $.ajax({
                                url: "../Home/SearchPeaple",
                                data: { "query": q },
                                type: "GET",
                                dataType: "json",
                                success: function(r) {
                                    resultModel = r;
                                    ko.mapping.updateFromJS(viewModel, resultModel);
                                }
                            });
                        }
                    }, 1);

                    return true;
                };

                window.vm = viewModel;
                ko.applyBindings(viewModel, $("#search").get(0));
            })(jQuery);

            // Timeline animation
            $(function() {
                $('#collapser').jqcollapse({
                    slide: true,
                    speed: 1000,
                    easing: 'easeOutCubic'
                });

                $('#collapser li').click(
                    function() {
                        $(this).toggleClass("selected").siblings("li.active").toggleClass("clearfix");
                    });
            });
            
            // Generate Data menu
            $(document).ready(function () {

                var Menu = $("#_Menu").AjaxFlagMenu({
                    Caption: 'Menu',
                    CaptionClass: 'CaptionClass',
                    onOutClass: 'onOutClass',
                    onOverClass: 'onOverClass',
                    onClickClass: 'onClickClass',
                    hscOutClass: 'hscOutClass',
                    hscClickClass: 'hscClickClass',
                    Loading_gif: '../../Images/Loading.gif'
                    //ajaxContent: 'ajaxContent'
                });
                
                var Commentaire = Menu.add({
                    Title: 'Gráficos',
                    onOutIcon: '../../Images/com_d.png',
                    onClickIcon: '../../Images/com_c.png',
                    HtmlSatusContent: '',
                    url: '/Charts/Index',
                    data: ''
                });

                var Commentaire = Menu.add({
                    Title: 'Dados Gerais',
                    onOutIcon: '../../Images/com_d.png',
                    onClickIcon: '../../Images/com_c.png',
                    HtmlSatusContent: '',
                    url: '/Home/Index',
                    data: ''
                });
                Commentaire.sethscCorner();
                
                Menu.add({
                    Title: 'Procedimentos',
                    onOutIcon: '../../Images/event_d.png',
                    onClickIcon: '../../Images/event_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Abtimicrobianos',
                    onOutIcon: '../../Images/link_d.png',
                    onClickIcon: '../../Images/link_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Medicamentos',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });

                Menu.add({
                    Title: 'Exames',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Hemotransfusão',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Colonização MDR',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Receituário',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Dados da Alta',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });
                
                Menu.add({
                    Title: 'Formulário',
                    onOutIcon: '../../Images/help_d.png',
                    onClickIcon: '../../Images/help_c.png',
                    HtmlSatusContent: '',
                    url: '#',
                    data: ''
                });

                $("#_td").corner("4px");
                $("#o_td").corner("4px");

            });
            
            // Suggest of text
            $(document).ready(function () {
                $("#demo-input-facebook-theme").tokenInput("Home/Admission", {
                    theme: "facebook"
                });
            });
            
            //Water mark
            $(document).ready(function () {

                var watermark = 'Search for people, places and things';

                //init, set watermark text and class
                $('.DOMControl_placeholder').val(watermark).addClass('watermark');

                //if blur and no value inside, set watermark text and class again.
                $('.DOMControl_placeholder').blur(function () {
                    if ($(this).val().length == 0) {
                        $(this).val(watermark).addClass('watermark');
                    }
                });

                //if focus and text is watermrk, set it to empty and remove the watermark class
                $('.DOMControl_placeholder').focus(function () {
                    if ($(this).val() == watermark) {
                        $(this).val('').removeClass('watermark');
                    }
                });
            });
        </script>
    </body>
</html>