@using EHR.UI.Infrastructure.Notification
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" >
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderSection("Page")
    <div id="messagewrapper" style="display: none">
        @Html.RenderMessages()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", false)
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scriptsBefore", false)
</body>
</html>