<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section id="super">
        <header class="slim">
            @Html.Partial("_Header")
        </header>
        <section id="page">
            <section id="timeLine" class="lfloat">
                @Html.Partial("_TimeLine")
            </section>
                        <section id="data" class="lfloat">
                @Html.Partial("_Data")
            </section>
            <section id="center" class="rfloat">
                @RenderBody()
            </section>
        </section>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
