@using System.Globalization
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
<form id="medicationForm">
    <input type="hidden" name="medication.type" value="@ViewBag.MedicationType" />
    <label>Medicamento:</label>
    <input type="text" name="medication.description" required style="margin-left: 10px;" onclick="GenericAutoComplete(this, '/DischargeSummary/DefAutoComplete', '#def')" />
    <input type="hidden" name="medication.def.id" id="def" />
    <br />
    <br />
    <label>Apresenta&ccedil;&atilde;o:</label>
    <input type="number" name="medication.presentation" required style="margin: 0px 5px 0px 10px;" min="0.0" value="0.0"/>
    <select name="medication.presentationType" required>
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(PresentationTypeEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @EnumUtil.GetDescriptionFromEnumValue((PresentationTypeEnum)Enum.Parse(typeof(PresentationTypeEnum), value.ToString(CultureInfo.InvariantCulture)))
            </option>  
        }
    </select>
    <br />
    <br />
    <label>Dose:</label>
    <input type="number" name="medication.dose" required style="margin: 0px 5px 0px 60px;" min="0.0" value="0.0"/>
    <select name="medication.dosage" required>
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(DosageEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @EnumUtil.GetDescriptionFromEnumValue((DosageEnum)Enum.Parse(typeof(DosageEnum), value.ToString(CultureInfo.InvariantCulture)))
            </option>  
        }
    </select>
    <br />
    <br />
    <label>Via:</label>
    <select name="medication.way" required style="margin: 0px 5px 0px 70px;">
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(WayEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @EnumUtil.GetDescriptionFromEnumValue((WayEnum)Enum.Parse(typeof(WayEnum), value.ToString(CultureInfo.InvariantCulture)))
            </option>  
        }
    </select>
    <label>Local:</label>
    <input type="text" name="medication.place" />
    <br />
    <br />
    <label>Frequ&ecirc;ncia:</label>
    <select name="medication.frequency" required style="margin: 0px 5px 0px 25px;" onchange="SelectFrequencyCase(this);">
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(FrequencyEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @EnumUtil.GetDescriptionFromEnumValue((FrequencyEnum)Enum.Parse(typeof(FrequencyEnum), value.ToString(CultureInfo.InvariantCulture)))
            </option>  
        }
    </select>
    <select name="medication.frequencyCase" disabled id="frequencyCase">
        <option value="-1">Selecione</option>
        @foreach (var value in Enum.GetValues(typeof(FrequencyCaseEnum)).Cast<short>().ToList())
        {
            <option value="@value">
                @EnumUtil.GetDescriptionFromEnumValue((FrequencyCaseEnum)Enum.Parse(typeof(FrequencyCaseEnum), value.ToString(CultureInfo.InvariantCulture)))
            </option>  
        }
    </select>
    <br />
    <br />
    <label>Dura&ccedil;&atilde;o:</label>
    <input type="number" name="medication.duration" style="margin-left: 40px;" min="1" value="1"/>&nbsp;&nbsp;Dia(s)<br />
    <br />
    <br />
    <input type="submit" onclick='saveRow(this, "/DischargeSummary/SaveMedication");' value="Salvar" class="uibutton large confirm" />&nbsp;&nbsp;
    <input type="reset" onclick="closeForm(this);" value="Cancelar" class="uibutton large" />
</form>
<script type="text/javascript">
    function SelectFrequencyCase(e) {
        if ($(e).val() == 8) {
            $(e).next().removeAttr("disabled");
        } else {
            $(e).next().attr("disabled", "disabled");
        }
    }
    $('input[type="number"]').numeric();
</script>
