@using System
@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using EHR.Domain.Entities
@using EHR.Infrastructure.Util
@{
    ViewBag.Title = "Rede D'or São Luiz - Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Page
{
    <div id="pagelet_bluebar">
        <div id="blueBarHolder">
            <div id="blueBar">
                <div class="loggedout_menubar_container">
                    <div class="clearfix loggedout_menubar">
                        <a href="#" title="Rede D'or S&atilde;o Luiz" class="lfloat"><i class="fb_logo img sp_6jxgq1 sx_df432d">Rede D'or S&atilde;o Luiz logo</i></a>
                        <div class="menu_login_container rfloat">
                            <form id="login_form" action="../Account/Login" method="post">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="html7magic">
                                                <label for="email">E-mail</label>
                                            </td>
                                            <td class="html7magic">
                                                <label for="password">Senha</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="Email" type="email" id="email" required tabindex="1" class="inputtext">
                                            </td>
                                            <td>
                                                <input name="Password" id="password" type="password" required tabindex="2" class="inputtext">
                                            </td>
                                            <td>
                                                <label for="loginButton" class="uiButton uiButtonConfirm">
                                                    <input name="loginButton" type="submit" value="Entrar" tabindex="4">
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uiContextualLayerParent">
        <div class="fb_content clearfix">
            <div style="background: #E7EBF2; min-width: 980px">
                <div class="pvl" style="width: 980px; margin: 0 auto">
                    <div class="fbIndexMap _6_ _76">
                        <div class="title fsl fwb fcb">Hospitais particulares e Medicina Diagn&oacute;stica</div>
                        <img src="../../Images/doctor.png" alt="Doctor" class="mtl mtl img" />
                    </div>
                    <div class="_6_ _74">
                        <h1 class="mbs _3ma _6n _6s _6v" style="font-size: 36px">Cadastre-se</h1>
                        <div class="_52ls">
                            <div id="reg_box" class="registration_redesign">
                                <form method="post" id="reg" name="reg" action="../Account/Register" class="registerForm">
                                    <div id="reg_form_box" class="large_form">
                                        <div class="clearfix short_fields">
                                            <div class="mrm lfloat">
                                                <input type="text" name="FirstName" placeholder="Nome" class="inputtext text_field" maxlength="65" />
                                            </div>
                                            <div class="mbm rfloat" style="margin-right: -10px;">
                                                <input type="text" name="LastName" placeholder="Sobrenome" class="inputtext text_field" style="margin-right: -15px;" maxlength="65" />
                                            </div>
                                        </div>
                                        <div class="clearfix short_fields">
                                            <div class="mrm lfloat" style="padding-top: 10px;">
                                                @foreach (var value in Enum.GetValues(typeof(ProfessionalRegistrationTypeEnum)).Cast<short>().ToList())
                                                {
                                                    <input type="radio" id="DocumentType" name="ProfessionalRegistration[0].Type" value="@value" @if (value == 1) {  @: required
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          } />
                                                    <label for="DocumentType" class="gender_label">
                                                        @(EnumUtil.GetDescriptionFromEnumValue((ProfessionalRegistrationTypeEnum)Enum.Parse(typeof(ProfessionalRegistrationTypeEnum), value.ToString(CultureInfo.InvariantCulture))) + "  ")
                                                    </label>
                                                }

                                            </div>
                                            <div class="mbm rfloat" style="margin-right: -10px;">
                                                <table style="margin-right: -15px;">
                                                    <tr>
                                                        <td style="padding-right: 6px;">
                                                            <input type="text" name="ProfessionalRegistration[0].Number" required placeholder="N&uacute;mero" class="inputtext text_field" style="width: 136px;" maxlength="10" />
                                                        </td>
                                                        <td style="border: 1px solid #bdc7d8; background-color: #fff;">
                                                            <select name="ProfessionalRegistration[0].State.Id" required style="width: 110px; border: 0px; font-size: 18px; color: #6d6d6d;">
                                                                <option value="-1">Estado</option>
                                                                @foreach (EHR.CoreShared.Entities.State value in (IList<EHR.CoreShared.Entities.State>)Session["States"])
                                                                {
                                                                    <option value="@value.Id">
                                                                        @value.Acronym
                                                                    </option>
                                                                }

                                                            </select>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="mbm">
                                            <input type="email" name="email" placeholder="Seu e-mail" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="email" name="emailConfirmation" placeholder="Insira o e-mail novamente" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="password" name="password" placeholder="Nova senha" class="inputtext text_field" />
                                        </div>
                                        <div class="mbm">
                                            <input type="text" name="Birthday" style="width: 160px" maxlength="10" class="inputtext text_field" placeholder="Data de nascimento">
                                        </div>
                                        <div class="mtl mbm">
                                            @foreach (var value in Enum.GetValues(typeof(GenderEnum)).Cast<short>().ToList())
                                            {
                                                <div class="uiInputLabel clearfix inlineBlock">
                                                    <input type="radio" name="gender" id="gender" @*@if (value == 1)
                                                                                                   {
                                                                                                        @:required
                                                                                                    }*@ value="@value" class=" uiInputLabelRadio">
                                                    <label for="gender" class="gender_label">@(EnumUtil.GetDescriptionFromEnumValue((GenderEnum)Enum.Parse(typeof(GenderEnum), value.ToString(CultureInfo.InvariantCulture))) + "  ")</label>
                                                </div>
                                            }
                                        </div>
                                        <div class="mtm mbs birthday_label">Escolha o hospital em que você mais atua:</div>
                                        <div class="mbm">
                                            @{
                                                var hospitals = ViewBag.hospitals;
                                            }
                                            <table style="margin-left: -3px;">
                                                <tr>
                                                    @for (
                                                        int count = 0; count < hospitals.Count; count++)
                                                    {
                                                        if (count % 3 == 0)
                                                        {
                                                            WriteLiteral("</tr><tr>");
                                                        }

                                                        <td style="padding: 3px 3px 3px 3px;">
                                                            <input name="hospital" type="radio"
                                                                   value="@hospitals[count].Id" />
                                                            <label style="font-size: 14px; color: #333;">@(@hospitals[count].Name + "  ")</label><br />
                                                        </td>
                                                    }
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="reg_btn clearfix">
                                            <button type="submit" class="_6j mvm _6wk _6wl signup_button _3ma _6o _6v">Cadastre-se</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/AjaxFlagMenu-1.0.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>

    <script type="text/javascript">

        $.datepicker.setDefaults($.extend({ 'dateFormat': 'dd/mm/yy' }, $.datepicker.regional['pt-BR']));

        $(function () {
            $("input[name='Birthday']").datepicker();
            $("input[name='Birthday']").mask("99/99/9999");

            $("input[name='FirstName']").keypress(function (event) {
                if (!onlyLetters(event))
                    event.preventDefault();
            });

            $("input[name='LastName']").keypress(function (event) {
                if (!onlyLetters(event))
                    event.preventDefault();
            });

            $("input[name='ProfessionalRegistration[0].Number']").keypress(function (event) {
                if (!onlyNumbers(event))
                    event.preventDefault();
            });

            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg != value;
            }, "Value must not equal arg.");

            $.validator.addMethod("equals", function (value, element, arg) {
                return $("input[name='email']").val() == value;
            }, "Value must not equal arg.");

            $.validator.addMethod("ageVerification", function (value, element, arg) {
                var day = parseInt(value.substring(0, 2));
                var month = parseInt(value.substring(3, 5));
                var year = parseInt(value.substring(6, 10));
                var now = new Date();

                var entryDate = new Date(year, month, day);
                var ageDifMs = now.getTime() - entryDate.getTime();
                var ageDate = new Date(ageDifMs);
                var diference = Math.abs(ageDate.getUTCFullYear() - 1970);

                return (((diference > arg) && (diference < 90)) && !(year > now.getFullYear()));
            }, "A data de nascimento está incorreta.");

            $("#reg").validate({
                //Disable default pluggin messege
                errorPlacement: function (error, element) {
                },
                rules: {
                    FirstName: {
                        required: true
                    },
                    LastName: {
                        required: true
                    },
                    'ProfessionalRegistration[0].Type': {
                        required: true
                    },
                    'ProfessionalRegistration[0].Number': {
                        required: true,
                        number: true
                    },
                    'ProfessionalRegistration[0].State.Id': {
                        valueNotEquals: -1
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    emailConfirmation: {
                        required: true,
                        email: true,
                        equals: true
                    },
                    password: {
                        required: true
                    },
                    Birthday: {
                        required: true,
                        ageVerification: 18
                    },
                    gender: {
                        required: true
                    },
                    hospital: {
                        required: true
                    }
                },

                messages: {
                    FirstName: { required: 'O campo "nome" é obrigatório.' },
                    LastName: { required: 'O campo "sobrenome" é obrigatório.' },
                    'ProfessionalRegistration[0].Type': { required: 'É obrigatório selecionar o tipo de registro profissional.' },
                    'ProfessionalRegistration[0].Number': { required: 'É obrigatório informar o número do registro profissional.' },
                    'ProfessionalRegistration[0].State.Id': { valueNotEquals: 'Selecione o estado do correspondente do registro informado.' },
                    email: { required: 'O campo "e-mail" é obrigatório.', email: "Informe um endereço de e-mail válido." },
                    emailConfirmation: { required: 'O campo de confirmação de e-mail é obrigatório.', email: "Informe um endereço de e-mail válido.", equals: 'Os endereços de e-mail digitados são diferentes.' },
                    password: { required: 'O campo "nome" é obrigatório.' },
                    Birthday: { required: 'O campo "data de nascimento" é obrigatório.' },
                    gender: { required: 'Selecione seu genero.' },
                    hospital: { required: 'Selecione o hostpital em que mais atua.' }
                },

                submitHandler: function (form) {
                    form.submit();
                },

                invalidHandler: function (event, validator) {
                    var errors = validator.errorList;
                    var e = "";
                    for (i = 0; i < errors.length; i++) {
                        e += errors[i].message + "</br>";
                    }
                    displayMessage(e, "error");

                }
            });
        });

    </script>
}